footer {
    background-color: #e8e6df;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-brand #logo{
    width: 24px;
    height: 24px;
}

article h1  {
    margin-bottom: 1rem;
}

article h2  {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article h3  {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article h4  {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article p, article li {
    margin-top: 1rem;
}