footer {
    background-color: #e8e6df;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-brand #logo {
    width: 24px;
    height: 24px;
}

.indent-paragraph {
    margin-left: 2em;
}

article h1 {
    margin-bottom: 1rem;
}

article h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article p,
article li {
    margin-top: 1rem;
}


details {
    border: var(--bs-border-width) solid var(--bs-border-color);
    transition: all 0.3s ease;
}

details:first-of-type {
    border-radius: 4px 4px 0 0;
    /* round top corners */
}

details:last-of-type {
    border-radius: 0 0 4px 4px;
    /* round bottom corners */
}

/* Remove the top border from every <details> except the first one */
details:not(:first-of-type) {
    border-top: none;
}

summary {
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 0;
    border-radius: 4px 4px 0 0;
    outline: none;
    list-style: none;
    font-weight: bolder;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

details>*:not(summary) {
    padding: 0.5em 1em;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin: 0;
}

details ul,
details ol {
    margin-left: 1em;
    /* Adjust as needed */
    padding-left: 1em;
}

:root {
    /* Brand Colors */
    --theme-body-background: #0779ff;
    --theme-control-border: #0779ff;
}


.nextstepaction a {
    color: var(--bs-body-bg);
    border-width: 1px;
    border-color: var(--theme-control-border);
    background-color: var(--theme-body-background);
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
    justify-content: center;
    padding-block: calc(.375em - 1px);
    padding-inline: .75em;
    font-weight: 600;
    font-size: 1rem;
    font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.nextstepaction a::after {
    padding-left: .75em;
}