footer {
    background-color: #e8e6df;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-brand #logo{
    width: 24px;
    height: 24px;
}